<div id="form-container">
    <form [formGroup]="formCar">
        <div id="fields-container">

            <mat-form-field appearance="fill">
                <mat-label>Client</mat-label>
                <mat-select formControlName="clientId">
                    <mat-option>
                        <ngx-mat-select-search #name (input)="filterClientsByCpf(name.value)" placeholderLabel="Nome do cliente"
                         noEntriesFoundLabel="Nenhum cliente encontrado com esse nome"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let client of clients | async" [value]="client.clientId">{{client.firstName}} {{client.lastName}} - {{client.cpf | cpf}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Placa</mat-label>
                <input maxlength="7" formControlName="plate" matInput placeholder="">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cor</mat-label>
                <mat-select formControlName="colorId">
                    <mat-option *ngFor="let color of colors" [value]="color.colorId">{{color.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Modelo</mat-label>
                <input formControlName="model" matInput placeholder="">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Marca</mat-label>
                <input formControlName="brand" matInput placeholder="">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Preço</mat-label>
                <input type="number" formControlName="price" matInput placeholder="">
            </mat-form-field>
            <button color="warn"  id="button-form" *ngIf="!isEditing" (click)="confirmRegisterCar()" [disabled]="!formCar.valid" mat-raised-button
                >Registrar
                Carro</button>
            <button color="warn" id="button-form" *ngIf="isEditing" (click)="updateCar()" [disabled]="!formCar.valid" mat-raised-button
                >Salvar Carro</button>
        </div>
    </form>
</div>