#toolbar-title-brand{
    margin-left: 20px;
}
#toolbar-title-brand{
    display: flex;
}
#links{
    display: flex;
    margin-left: 90px;
    
}
#links h5{
    margin-left: 10px;
    font-size: 17px;
    transition: 1s;
}
#links h5:hover{
    color: #ddd;
    cursor: pointer;
   font-size: 19px;
}
mat-toolbar{
    background-color: #960E0E;
    height: 15vh;
    color: #fff;
    padding: 20px 20px;
}
mat-toolbar img{
    width: 23vh ;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

table {
    width: 100%;
  }
  
.example-spacer {
    flex: 1 1 auto;
}
