/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

//Snack-bar custom css
.success{
    box-shadow: #00000059 0px 5px 15px;
    background-color: #ffff;
    border-left: 7px solid green;
    border-radius: 3px;
    color: #000;
    font-size: 14px;
}
.error{
    box-shadow: #00000059 0px 5px 15px;
    background-color: #ffff;
    border-left: 7px solid #dc2b25;
    border-radius: 3px;
    color: #000;
    font-size: 14px;
}

#table-title{
 font-weight: 700;
 
}